{{ $videoID := index .Params 0 }}
{{ $pageNum := index .Params 1 | default 1}}

<style>
    #vk_player {
      width: 100%;
      height: 600px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      #vk_player {
        width: 100%;
        height: 250px;
      }
    }
</style>

{{ if (findRE "^[bB][vV][0-9a-zA-Z]+$" $videoID) }}
    <div>
        <iframe id="vk_player" src="https://vk.com/video_ext.php?oid={{ $videoID }}&id={{ $pageNum }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" loading="lazy" ></iframe>
    </div>
{{ else }}
    <div>
        <iframe id="vk_player" src="//player.bilibili.com/player.html?aid={{ $videoID }}&page={{ $pageNum }}" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" loading="lazy" ></iframe>
    </div>
{{ end }}
